<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xxn.repository.MyRecordStatMapper">
	<select id="totalByIn" resultType="int">
		select ifnull(sum(num),0) from
		my_record
		where type=0
	</select>
	<select id="totalByOut" resultType="int">
		select ifnull(sum(num),0)
		from
		my_record where type=1

	</select>

	<select id="statByDate" resultType="map" parameterType="date">
		SELECT
		date(date / 1000, 'unixepoch') date1,
		sum(CASE WHEN type = 0 THEN num
		ELSE 0 END) AS innum,
		sum(CASE WHEN type = 1 THEN num ELSE 0 END) AS
		outnum
		FROM
		my_record
		where date >#{date,jdbcType=VARCHAR}
		GROUP BY
		date(date / 1000, 'unixepoch')
	</select>





</mapper>